@import url(https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700,800&display=swap);

@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,italic,500,500italic,700,700italic);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Manrope";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Manrope";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 1.5rem;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #FBB040;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
  display: none;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

* {
  scroll-behavior: smooth;
}

.title {
  font-weight: 600;
  line-height: 1.375;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  gap: 0.625rem;
}

.header__logo {
  font-weight: 800;
  font-size: 1.4375rem;
  line-height: 1.347826087;
  color: #31353B;
  position: relative;
  z-index: 50;
}

.header._header-scroll {
  position: fixed;
  top: -200%;
  background-color: #BDCCFF;
}

.header._header-show {
  -webkit-transition: top 0.3s ease 0s;
  -o-transition: top 0.3s ease 0s;
  transition: top 0.3s ease 0s;
  top: 0;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.875rem;
     -moz-column-gap: 2.875rem;
          column-gap: 2.875rem;
  row-gap: 0.3125rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__link {
  font-family: "DM Sans";
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1.3076923077;
  position: relative;
}

.menu__link::after {
  content: "";
  position: absolute;
  height: 0.125rem;
  width: 0%;
  background-color: #000;
  bottom: -0.1875rem;
  left: 0;
  -webkit-transition: width 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}

.menu__link._navigator-active::after {
  content: "";
  position: absolute;
  height: 0.125rem;
  width: 100%;
  background-color: #000;
  bottom: -0.1875rem;
  left: 0;
  -webkit-transition: width 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

.footer {
  background: #FBFCFC;
}

.footer__container {
  padding-top: 3.75rem;
  border-top: 1px solid #dedfe1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
}

.footer__logo {
  font-size: 1.4375rem;
  line-height: 1.347826087;
  font-weight: 800;
  color: #31353B;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__copy {
  padding-bottom: 2.1875rem;
  text-align: center;
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.8125rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-footer__link {
  font-size: 0.8125rem;
  line-height: 1.3076923077;
  font-weight: 700;
  position: relative;
}

.menu-footer__link::before {
  content: "";
  position: absolute;
  bottom: -0.1875rem;
  left: 0;
  height: 0.125rem;
  width: 0%;
  background-color: #000;
  -webkit-transition: width 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}

.main-block__container {
  position: relative;
}

.main-block__container::after {
  content: "";
  position: absolute;
  background-color: #BDCCFF;
  top: 0;
  left: 68%;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.main-block__partners {
  margin-top: -3.125rem;
}

.body-main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-main-block__content {
  padding-top: 2.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.body-main-block__slider {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  min-width: 0;
  position: relative;
  padding-bottom: 3.125rem;
}

.body-main-block__slide {
  cursor: -webkit-grab;
  cursor: grab;
  position: relative;
  padding-bottom: 95%;
}

.body-main-block__slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.body-main-block__arrows {
  position: absolute;
  bottom: 0.9375rem;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
}

.body-main-block__arrows .swiper-button-disabled {
  opacity: 0.5;
  cursor: default;
}

.body-main-block__arrow-prev {
  cursor: pointer;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.body-main-block__arrow-next {
  cursor: pointer;
}

.content-body-main-block__body {
  padding-right: 5.3125rem;
}

.content-body-main-block__sub-title {
  font-family: "DM Sans";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.3181818182;
  color: #ff9900;
}

.content-body-main-block__sub-title:not(:last-child) {
  margin-bottom: 1.5rem;
}

.content-body-main-block__title {
  font-weight: 800;
  line-height: 1.3518518519;
}

.content-body-main-block__title:not(:last-child) {
  margin-bottom: 1.4375rem;
}

.content-body-main-block__title .typed-cursor {
  font-weight: 500;
}

.content-body-main-block__text {
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 1.3529411765;
  letter-spacing: 0.01em;
  color: #31353B;
  margin-bottom: 2.8125rem;
}

.content-body-main-block__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -11.75rem;
  position: relative;
  z-index: 1;
  background: #fff url("../img/main/icons/home.svg") 2.0625rem 2.0625rem no-repeat;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
}

.content-body-main-block__input {
  height: 5.375rem;
  border: 1px solid #DADADA;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  padding-left: 4.625rem;
  outline: none;
  background-color: transparent;
  line-height: 1.35;
}

.content-body-main-block__input::-webkit-input-placeholder {
  color: #31353B;
  letter-spacing: 0.01em;
}

.content-body-main-block__input::-moz-placeholder {
  color: #31353B;
  letter-spacing: 0.01em;
}

.content-body-main-block__input:-ms-input-placeholder {
  color: #31353B;
  letter-spacing: 0.01em;
}

.content-body-main-block__input::-ms-input-placeholder {
  color: #31353B;
  letter-spacing: 0.01em;
}

.content-body-main-block__input::placeholder {
  color: #31353B;
  letter-spacing: 0.01em;
}

.content-body-main-block__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 11.75rem;
          flex: 0 0 11.75rem;
  cursor: pointer;
  color: #fff;
  width: 11.75rem;
  padding: 0.3125rem 0.9375rem;
  background-color: #f85a47;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 1.3529411765;
}

.partners-main-block {
  max-width: 65%;
}

.partners-main-block__label {
  font-size: 1.0625rem;
  line-height: 1.3529411765;
  letter-spacing: 0.01em;
  color: #31353B;
  font-weight: 400;
  margin-bottom: 1.5625rem;
}

.partners-main-block__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.9375rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners-main-block__item img {
  max-width: 100%;
}

.how__title {
  text-align: center;
}

.how__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 16.25rem))[3];
  grid-template-columns: repeat(3, minmax(auto, 16.25rem));
  gap: 1.875rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-how {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  position: relative;
}

.item-how::after {
  content: "";
  position: absolute;
  right: 0;
  top: 2.5625rem;
  -webkit-transform: translate(86.5%, 0);
      -ms-transform: translate(86.5%, 0);
          transform: translate(86.5%, 0);
  max-width: 13.125rem;
  width: 100%;
  height: 0.6875rem;
}

.item-how:last-child::after {
  content: "";
  display: none;
}

.item-how_1::after {
  content: "";
  -webkit-transform: translate(86.5%, 0);
      -ms-transform: translate(86.5%, 0);
          transform: translate(86.5%, 0);
  background: url("../img/how/decor/01.svg") 0 0/contain no-repeat;
}

.item-how_2::after {
  content: "";
  -webkit-transform: translate(86.5%, 0);
      -ms-transform: translate(86.5%, 0);
          transform: translate(86.5%, 0);
  background: url("../img/how/decor/02.svg") 0 0/contain no-repeat;
}

.item-how__icon {
  height: 5.625rem;
  width: 5.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3.125rem;
}

.item-how__icon_1 {
  background: #9672FF;
  -webkit-box-shadow: 0px 100px 80px rgba(150, 114, 255, 0.07), 0px 64.8148px 46.8519px rgba(150, 114, 255, 0.0531481), 0px 38.5185px 25.4815px rgba(150, 114, 255, 0.0425185), 0px 20px 13px rgba(150, 114, 255, 0.035), 0px 8.14815px 6.51852px rgba(150, 114, 255, 0.0274815), 0px 1.85185px 3.14815px rgba(150, 114, 255, 0.0168519);
          box-shadow: 0px 100px 80px rgba(150, 114, 255, 0.07), 0px 64.8148px 46.8519px rgba(150, 114, 255, 0.0531481), 0px 38.5185px 25.4815px rgba(150, 114, 255, 0.0425185), 0px 20px 13px rgba(150, 114, 255, 0.035), 0px 8.14815px 6.51852px rgba(150, 114, 255, 0.0274815), 0px 1.85185px 3.14815px rgba(150, 114, 255, 0.0168519);
  border-radius: 20px;
}

.item-how__icon_2 {
  background: #4DDFFD;
  -webkit-box-shadow: 0px 100px 80px rgba(77, 223, 253, 0.07), 0px 64.8148px 46.8519px rgba(77, 223, 253, 0.0531481), 0px 38.5185px 25.4815px rgba(77, 223, 253, 0.0425185), 0px 20px 13px rgba(77, 223, 253, 0.035), 0px 8.14815px 6.51852px rgba(77, 223, 253, 0.0274815), 0px 1.85185px 3.14815px rgba(77, 223, 253, 0.0168519);
          box-shadow: 0px 100px 80px rgba(77, 223, 253, 0.07), 0px 64.8148px 46.8519px rgba(77, 223, 253, 0.0531481), 0px 38.5185px 25.4815px rgba(77, 223, 253, 0.0425185), 0px 20px 13px rgba(77, 223, 253, 0.035), 0px 8.14815px 6.51852px rgba(77, 223, 253, 0.0274815), 0px 1.85185px 3.14815px rgba(77, 223, 253, 0.0168519);
  border-radius: 20px;
}

.item-how__icon_3 {
  background: #F2B8EC;
  -webkit-box-shadow: 0px 100px 80px rgba(242, 184, 236, 0.07), 0px 64.8148px 46.8519px rgba(242, 184, 236, 0.0531481), 0px 38.5185px 25.4815px rgba(242, 184, 236, 0.0425185), 0px 20px 13px rgba(242, 184, 236, 0.035), 0px 8.14815px 6.51852px rgba(242, 184, 236, 0.0274815), 0px 1.85185px 3.14815px rgba(242, 184, 236, 0.0168519);
          box-shadow: 0px 100px 80px rgba(242, 184, 236, 0.07), 0px 64.8148px 46.8519px rgba(242, 184, 236, 0.0531481), 0px 38.5185px 25.4815px rgba(242, 184, 236, 0.0425185), 0px 20px 13px rgba(242, 184, 236, 0.035), 0px 8.14815px 6.51852px rgba(242, 184, 236, 0.0274815), 0px 1.85185px 3.14815px rgba(242, 184, 236, 0.0168519);
  border-radius: 20px;
}

.item-how__title {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.3636363636;
}

.item-how__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.item-how__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625;
  text-align: center;
}

.deals__header {
  margin-bottom: 3.125rem;
}

.header-deals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-deals__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header-deals__title {
  max-width: 29.375rem;
}

.header-deals__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.header-deals__text {
  max-width: 29.375rem;
  line-height: 1.5;
}

.header-deals__link {
  display: inline-block;
  color: #fff;
  padding: 1.375rem 2.0625rem;
  text-align: center;
  font-size: 1.0625rem;
  line-height: 1.3529411765;
  font-weight: 500;
  background-color: #f85a47;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  border-radius: 0.3125rem;
  -webkit-box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
          box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
}

.tabs-deals__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
  row-gap: 0.625rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tabs-deals__title {
  background-color: transparent;
  font-size: 1.1875rem;
  line-height: 1.3684210526;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  position: relative;
}

.tabs-deals__title::before {
  content: "";
  position: absolute;
  bottom: -0.1875rem;
  left: 0;
  width: 0%;
  height: 0.125rem;
  background-color: #f85a47;
  -webkit-transition: width 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}

.tabs-deals__title._tab-active {
  color: #f85a47;
}

.tabs-deals__title._tab-active::before {
  content: "";
  width: 100%;
}

.body-tabs-deals__items {
  padding-top: 3.4375rem;
  display: -ms-grid;
  display: grid;
  gap: 1.875rem;
  grid-template-columns: repeat(auto-fit, minmax(18.125rem, 23.125rem));
}

.body-tabs-deals__item {
  position: relative;
}

.body-tabs-deals__options {
  position: absolute;
  top: 0.875rem;
  left: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.375rem;
  z-index: 3;
}

.body-tabs-deals__option {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #fff;
  border-radius: 0.3125rem;
  color: #fff;
  padding: 0.3125rem 0.75rem;
  font-size: 0.75rem;
  line-height: 1.25;
  font-weight: 400;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.body-tabs-deals__image-ibg {
  position: relative;
  padding-bottom: 81.0810810811%;
  border-radius: 0.3125rem;
  overflow: hidden;
}

.body-tabs-deals__image-ibg img {
  -webkit-transition: scale 0.3s ease 0s;
  -o-transition: scale 0.3s ease 0s;
  transition: scale 0.3s ease 0s;
}

.featured__title {
  text-align: center;
}

.featured__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 4.8125rem;
  background: #F1FFFF;
}

.images-featured {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.images-featured__item img {
  max-width: 100%;
}

.images-featured__item_mini {
  margin-right: 1.25rem;
  margin-left: 1.25rem;
  margin-top: -7.125rem;
  -webkit-filter: drop-shadow(0px 163px 80px rgba(0, 0, 0, 0.04)) drop-shadow(0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704)) drop-shadow(0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963)) drop-shadow(0px 32.6px 13px rgba(0, 0, 0, 0.02)) drop-shadow(0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037)) drop-shadow(0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963)) drop-shadow(48px 58px 44px rgba(0, 0, 0, 0.09));
          filter: drop-shadow(0px 163px 80px rgba(0, 0, 0, 0.04)) drop-shadow(0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704)) drop-shadow(0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963)) drop-shadow(0px 32.6px 13px rgba(0, 0, 0, 0.02)) drop-shadow(0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037)) drop-shadow(0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963)) drop-shadow(48px 58px 44px rgba(0, 0, 0, 0.09));
}

.content-featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-featured__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.content-featured__title {
  font-weight: 600;
  line-height: 1.3548387097;
}

.content-featured__title:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.content-featured__text {
  font-weight: 400;
  line-height: 1.5;
}

.content-featured__text:not(:last-child) {
  margin-bottom: 2.5rem;
}

.content-featured__option {
  display: -ms-grid;
  display: grid;
  gap: 2.1875rem;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 3.4375rem;
}

.content-featured__link {
  display: inline-block;
  text-align: center;
  padding: 1rem 2.3125rem;
  color: #fff;
  background: #F85A47;
  -webkit-box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
          box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  border-radius: 0.3125rem;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.option-content-featured__label {
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 1.3529411765;
}

.option-content-featured__label:not(:last-child) {
  margin-bottom: 0.75rem;
}

.option-content-featured__value {
  font-size: 1.0625rem;
  line-height: 1.3529411765;
}

.reviews__title {
  max-width: 35.625rem;
}

.reviews__title:not(:last-child) {
  margin-bottom: 3.125rem;
}

.reviews__items {
  display: -ms-grid;
  display: grid;
  gap: 1.875rem;
  grid-template-columns: repeat(auto-fill, minmax(18.125rem, 1fr));
}

.reviews__item {
  background: #FFFFFF;
  padding: 3.125rem 2.5rem;
  border: 1px solid #EBEBEB;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.reviews__text {
  line-height: 1.75;
  color: #333333;
}

.reviews__text:not(:last-child) {
  margin-bottom: 3.125rem;
}

.rating {
  margin-bottom: 2.0625rem;
}

.author-item-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.author-item-reviews__avatar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3rem;
          flex: 0 0 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.author-item-reviews__name {
  font-weight: 700;
  line-height: 1.375;
  color: #333333;
}

.author-item-reviews__location {
  font-size: 0.875rem;
  line-height: 1.3571428571;
  color: #666666;
}

.footer-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6.25rem;
}

.footer-reviews__partners {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer-reviews__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18.4375rem;
          flex: 0 0 18.4375rem;
  line-height: 1.5;
}

.footer-reviews__info a {
  text-decoration: underline;
  color: #2CBDE7;
}

.partners-footer-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe {
  background: #FBFCFC;
}

.subscribe__title {
  text-align: center;
  font-weight: 700;
  line-height: 144%;
  letter-spacing: 0.02em;
  color: #31353B;
}

.subscribe__title:not(:last-child) {
  margin-bottom: rdem(11);
}

.subscribe__sub-title {
  text-align: center;
  font-weight: 700;
  font-size: 1.4375rem;
  line-height: 144%;
  letter-spacing: 0.02em;
  color: #31353B;
  margin-bottom: 2.125rem;
}

.subscribe__form {
  max-width: 42.875rem;
  margin: 0 auto;
}

.form-subscribe {
  padding: 1.5625rem 2.8125rem;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  -webkit-box-shadow: 0px 163px 80px rgba(0, 0, 0, 0.04), 0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704), 0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963), 0px 32.6px 13px rgba(0, 0, 0, 0.02), 0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037), 0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963);
          box-shadow: 0px 163px 80px rgba(0, 0, 0, 0.04), 0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704), 0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963), 0px 32.6px 13px rgba(0, 0, 0, 0.02), 0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037), 0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963);
}

.form-subscribe__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.form-subscribe__label {
  display: block;
  margin-bottom: 0.625rem;
  color: rgba(49, 53, 59, 0.2);
}

.form-subscribe__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  outline: none;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 144%;
  width: 100%;
  padding-right: 0.9375rem;
  color: #000;
}

.form-subscribe__button {
  cursor: pointer;
  background: #F85A47;
  color: #fff;
  font-size: 1.125rem;
  line-height: 144%;
  padding: 1.4375rem 2.5rem;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
  -webkit-box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
          box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .footer__copy {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}

@media (min-width: 61.99875em) {
  .content-featured__body {
    max-width: 25.75rem;
    padding-top: 2.5rem;
  }

  .content-featured__link {
    max-width: 25.75rem;
  }
}

@media (min-width: 75em) {
  .title {
    font-size: 2.5rem;
  }

  .header__container {
    min-height: 6.4375rem;
  }

  .header._header-scroll .header__container {
    min-height: 5rem;
  }

  .footer__copy {
    padding-top: 4.375rem;
  }

  .main-block {
    padding-bottom: 6.875rem;
  }

  .main-block__container {
    padding-top: 11.4375rem;
  }

  .content-body-main-block__title {
    font-size: 3.375rem;
  }

  .content-body-main-block__input {
    font-size: 1.25rem;
  }

  .how {
    padding-top: 6.875rem;
  }

  .how {
    padding-bottom: 5.625rem;
  }

  .how__title {
    margin-bottom: 4.375rem;
  }

  .deals {
    padding-top: 6.875rem;
  }

  .deals {
    padding-bottom: 7.5rem;
  }

  .featured__title {
    margin-bottom: 5.9375rem;
  }

  .featured__body {
    padding-top: 5rem;
  }

  .featured__body {
    padding-left: 2.5rem;
  }

  .featured__body {
    padding-right: 2.5rem;
  }

  .featured__body {
    padding-bottom: 2.5rem;
  }

  .content-featured__title {
    font-size: 1.9375rem;
  }

  .reviews {
    padding-top: 12.25rem;
  }

  .reviews {
    padding-bottom: 6.875rem;
  }

  .footer-reviews {
    padding-top: 5.3125rem;
  }

  .subscribe {
    padding-bottom: 6.875rem;
  }

  .subscribe {
    padding-top: 6.875rem;
  }

  .subscribe__title {
    font-size: 2.8125rem;
  }
}

@media (max-width: 75em) {
  .main-block__container {
    padding-bottom: 1.875rem;
  }

  .main-block__partners {
    margin-top: 0;
  }

  .body-main-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .body-main-block__content {
    margin-bottom: 2.5rem;
  }

  .content-body-main-block__body {
    padding-right: 0;
  }

  .content-body-main-block__form {
    margin: 0;
  }

  .partners-main-block {
    max-width: 100%;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.875rem;
  }

  .header__container {
    min-height: 3.75rem;
  }

  .header._header-scroll .header__container {
    min-height: 3.75rem;
  }

  .footer__copy {
    padding-top: 1.875rem;
  }

  .main-block {
    padding-bottom: 1.875rem;
  }

  .main-block__container {
    padding-top: 5rem;
  }

  .content-body-main-block__title {
    font-size: 2rem;
  }

  .content-body-main-block__input {
    font-size: 1rem;
  }

  .how {
    padding-top: 1.875rem;
  }

  .how {
    padding-bottom: 1.875rem;
  }

  .how__title {
    margin-bottom: 1.875rem;
  }

  .deals {
    padding-top: 3.75rem;
  }

  .deals {
    padding-bottom: 3.75rem;
  }

  .featured__title {
    margin-bottom: 2.5rem;
  }

  .featured__body {
    padding-top: 1.875rem;
  }

  .featured__body {
    padding-left: 0.9375rem;
  }

  .featured__body {
    padding-right: 0.9375rem;
  }

  .featured__body {
    padding-bottom: 0.9375rem;
  }

  .content-featured__title {
    font-size: 1.5rem;
  }

  .reviews {
    padding-top: 3.75rem;
  }

  .reviews {
    padding-bottom: 3.75rem;
  }

  .footer-reviews {
    padding-top: 2.5rem;
  }

  .subscribe {
    padding-bottom: 3.75rem;
  }

  .subscribe {
    padding-top: 3.75rem;
  }

  .subscribe__title {
    font-size: 2rem;
  }
}

@media (max-width: 68.75em) {
  .item-how::after {
    max-width: 11.25rem;
    -webkit-transform: translate(70%, 0) !important;
        -ms-transform: translate(70%, 0) !important;
            transform: translate(70%, 0) !important;
  }
}

@media (max-width: 61.99875em) {
  .featured__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .footer-reviews {
    row-gap: 1.875rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 56.25em) {
  .item-how::after {
    max-width: 10rem;
    -webkit-transform: translate(65%, 0) !important;
        -ms-transform: translate(65%, 0) !important;
            transform: translate(65%, 0) !important;
  }
}

@media (max-width: 54.375em) {
  .item-how::after {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    padding: 6.25rem 0.9375rem 3.125rem 0.9375rem;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #BDCCFF;
    z-index: 4;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background-color: #BDCCFF;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .footer__logo {
    margin-bottom: 1.875rem;
  }

  .menu-footer__list {
    row-gap: 0.9375rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .content-body-main-block__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .content-body-main-block__button {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    height: 5.375rem;
    padding: 1.25rem 0.9375rem;
  }

  .how__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .header-deals__link {
    width: 100%;
  }

  .form-subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu__link {
    font-size: 1.5rem;
  }
}

@media (max-width: 29.99875em) {
  .content-body-main-block__form {
    background: #fff;
  }

  .content-body-main-block__input {
    padding: 0 0.9375rem;
  }

  .partners-main-block__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .featured__body {
    margin: 0 -0.9375rem;
  }

  .content-featured__option {
    margin-bottom: 1.875rem;
  }

  .content-featured__option {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .form-subscribe {
    padding: 1.25rem 0.9375rem;
    margin: 0 -0.9375rem;
  }
}

@media (max-width: 29.99875em) and (max-width: 20em) {
  .content-featured__option {
    gap: 0.9375rem;
  }
}

@media (min-width: 20em) and (max-width: 75em) {
  .title {
    font-size: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem );
  }

  .header__container {
    min-height: clamp( 3.75rem , 2.7727272727rem  +  4.8863636364vw , 6.4375rem );
  }

  .header._header-scroll .header__container {
    min-height: clamp( 3.75rem , 3.2954545455rem  +  2.2727272727vw , 5rem );
  }

  .footer__copy {
    padding-top: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem );
  }

  .main-block {
    padding-bottom: clamp( 1.875rem , 0.0568181818rem  +  9.0909090909vw , 6.875rem );
  }

  .main-block__container {
    padding-top: clamp( 5rem , 2.6590909091rem  +  11.7045454545vw , 11.4375rem );
  }

  .content-body-main-block__title {
    font-size: clamp( 2rem , 1.5rem  +  2.5vw , 3.375rem );
  }

  .content-body-main-block__input {
    font-size: clamp( 1rem , 0.9090909091rem  +  0.4545454545vw , 1.25rem );
  }

  .how {
    padding-top: clamp( 1.875rem , 0.0568181818rem  +  9.0909090909vw , 6.875rem );
  }

  .how {
    padding-bottom: clamp( 1.875rem , 0.5113636364rem  +  6.8181818182vw , 5.625rem );
  }

  .how__title {
    margin-bottom: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem );
  }

  .deals {
    padding-top: clamp( 3.75rem , 2.6136363636rem  +  5.6818181818vw , 6.875rem );
  }

  .deals {
    padding-bottom: clamp( 3.75rem , 2.3863636364rem  +  6.8181818182vw , 7.5rem );
  }

  .featured__title {
    margin-bottom: clamp( 2.5rem , 1.25rem  +  6.25vw , 5.9375rem );
  }

  .featured__body {
    padding-top: clamp( 1.875rem , 0.7386363636rem  +  5.6818181818vw , 5rem );
  }

  .featured__body {
    padding-left: clamp( 0.9375rem , 0.3693181818rem  +  2.8409090909vw , 2.5rem );
  }

  .featured__body {
    padding-right: clamp( 0.9375rem , 0.3693181818rem  +  2.8409090909vw , 2.5rem );
  }

  .featured__body {
    padding-bottom: clamp( 0.9375rem , 0.3693181818rem  +  2.8409090909vw , 2.5rem );
  }

  .content-featured__title {
    font-size: clamp( 1.5rem , 1.3409090909rem  +  0.7954545455vw , 1.9375rem );
  }

  .reviews {
    padding-top: clamp( 3.75rem , 0.6590909091rem  +  15.4545454545vw , 12.25rem );
  }

  .reviews {
    padding-bottom: clamp( 3.75rem , 2.6136363636rem  +  5.6818181818vw , 6.875rem );
  }

  .footer-reviews {
    padding-top: clamp( 2.5rem , 1.4772727273rem  +  5.1136363636vw , 5.3125rem );
  }

  .subscribe {
    padding-bottom: clamp( 3.75rem , 2.6136363636rem  +  5.6818181818vw , 6.875rem );
  }

  .subscribe {
    padding-top: clamp( 3.75rem , 2.6136363636rem  +  5.6818181818vw , 6.875rem );
  }

  .subscribe__title {
    font-size: clamp( 2rem , 1.7045454545rem  +  1.4772727273vw , 2.8125rem );
  }
}

@media (max-width: 47.99875em) and (min-width: 47.9375em) {
  .menu__link {
    font-size: 2rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 47.9375em) {
  .menu__link {
    font-size: clamp( 1.5rem , 1.1420581655rem  +  1.7897091723vw , 2rem );
  }
}

@media (max-width: 29.99875em) and (min-width: 75em) {
  .content-featured__option {
    gap: 2.1875rem;
  }
}

@media (max-width: 29.99875em) and (min-width: 20em) and (max-width: 75em) {
  .content-featured__option {
    gap: clamp( 0.9375rem , 0.4829545455rem  +  2.2727272727vw , 2.1875rem );
  }
}

@media (any-hover: hover) {
  .menu__link:hover::after {
    content: "";
    width: 100%;
  }

  .menu-footer__link:hover::before {
    content: "";
    width: 100%;
  }

  .content-body-main-block__button:hover {
    background-color: #fc3923;
  }

  .header-deals__link:hover {
    background-color: #fc3923;
  }

  .body-tabs-deals__option:hover {
    background: rgba(0, 0, 0, 0.6);
  }

  .body-tabs-deals__image-ibg:hover img {
    scale: 1.1;
  }

  .content-featured__link:hover {
    background: #fc3923;
  }

  .reviews__item:hover {
    -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222), 3px 44px 54px rgba(0, 0, 0, 0.08);
            box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222), 3px 44px 54px rgba(0, 0, 0, 0.08);
  }

  .footer-reviews__info a:hover {
    text-decoration: none;
  }

  .form-subscribe__button:hover {
    background: #fc3923;
  }
}